@media (max-width: 1200px) {
  /* Navegação */
  section.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu-hamburguer {
    display: block;
    cursor: pointer;
  }

  .menu-mobile {
    display: none;
  }

  .navegacao-mobile {
    min-width: 300px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2rem;
    right: 0;
    background-color: var(--corPrincipal);
    opacity: 0;
    transform: translateX(20px);
    animation: animeLeftMenu 0.8s forwards;
  }

  .navegacao-mobile > .contato-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nav-mobile > .ul-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contato-mobile .contact-us {
    background-color: transparent;
    padding: 1rem;
    border: 2px solid #fff;
    border-radius: 30px;
    color: var(--cortexto);
    cursor: pointer;
    margin: 1rem 0;
  }

  .contato-mobile .contact-us:hover {
    background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  }

  .contato-mobile .join {
    background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
    padding: 1rem;
    border: none;
    border-radius: 30px;
    cursor: pointer;
  }

  .nav > nav {
    display: none;
  }

  nav ul li {
    color: var(--cortexto);
    margin: 0.8rem;
    font-weight: bold;
    font-size: 1rem;
  }

  .material-symbols-outlined {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
  }

  .contato {
    display: none;
  }
  /* Fim da Navegação */

  menu {
    font-size: 0.7rem;
  }

  .formas-contato {
    padding: 0 1rem;
  }

  .formas-contato > img {
    margin: 0;
  }

  .intro h1 {
    font-size: 1.4rem;
  }

  .h1-fino {
    font-weight: 100;
    margin-top: 20px;
  }

  .about-hydra > div > p {
    padding: 1rem 0.5rem;
  }

  /* Cards */
  section.cards {
    justify-content: center;
  }

  .cards-desktop {
    display: none;
  }

  .passar-mobile-cards {
    display: block;
  }

  .cards-1-2 {
    display: block;
  }

  .cards-3-4 {
    display: block;
  }

  section.cards .cards-1-2 {
    transform: translateX(-40px);
    opacity: 0;
    animation: animeLeft 0.8s forwards;
  }

  section.cards .cards-3-4 {
    display: none;
    transform: translateX(40px);
    opacity: 0;
    animation: animeLeft 0.8s forwards;
  }

  section.cards .cards-1-2 .itens-1-2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  section.cards .cards-3-4 .itens-3-4 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .passar-mobile-cards {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
  }

  @media (max-width: 953px) {
    .passar-mobile-cards {
      padding: 0;
    }
  }

  .back-passar {
    background: url(../imagens/Ellipse\ 6.png);
    width: 92px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  .voltar {
    background: url(../imagens/Ellipse\ 5.png);
    background-size: cover;
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
  }

  section.cards .cards-1-2 .voltar img {
    display: block;
  }
  section.cards .cards-3-4 .voltar img {
    display: block;
  }

  .card {
    margin: 1rem;
  }
  /* Fim dos Cards */

  .marcas > img {
    max-width: 150px;
  }

  /* Inicio Numeração */
  .numeracao {
    padding: 0 5rem;
    justify-content: center;
  }

  .numeracao-desktop {
    display: none;
  }

  .passar-mobile-numeros {
    display: block;
  }

  .num-1-2 {
    display: block;
  }

  .num-3-4 {
    display: block;
  }

  .passar-mobile-numeros {
    position: absolute;
    width: 100%;
  }

  .passar-mobile-numeros .back-passar:nth-child(1) {
    position: absolute;
    left: 2rem;
    bottom: 0;
  }

  .passar-mobile-numeros .back-passar:nth-child(2) {
    position: absolute;
    right: 2rem;
    bottom: 0;
  }

  .num-1-2 {
    transform: translateX(-40px);
    opacity: 0;
    animation: animeLeft 0.8s forwards;
  }

  .numeros-1-2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .num-3-4 {
    display: none;
    transform: translateX(40px);
    opacity: 0;
    animation: animeLeft 0.8s forwards;
  }

  .numeros-3-4 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .back-numero > h1 {
    font-size: 1.5rem;
  }

  .descricao-num > h2 {
    font-size: 1.1rem;
    font-weight: 500;
  }
  /* Fim Numereção */

  .join-form > img {
    max-width: 100%;
  }

  input {
    width: 98%;
  }

  .detalhe-footer > ul {
    padding: 0.5rem;
  }

  .icones-redes-sociais {
    padding: 1.5rem 0;
  }

  .icones-redes-sociais > img {
    margin: 0 0.3rem;
  }

  footer > img.contraste-17 {
    max-width: 100%;
  }

  .consideracao-final {
    text-align: center;
    padding-top: 2rem;
  }

  .consideracao-final > p {
    font-size: 0.7rem;
  }
}

@keyframes animeLeft {
  to {
    transform: initial;
    opacity: 1;
  }
}

@keyframes animeLeftMenu {
  to {
    transform: initial;
    opacity: 0.9;
  }
}

@media (max-width: 800px) {
  /* inicio title */
  header {
    padding: 1rem 2rem;
  }

  section.title {
    display: none;
  }

  .title-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem 5rem;
  }

  .foto-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 318px;
    height: 277px;
    background: url(../imagens/Rectangle\ 4.png);
    border-radius: 100px 100px 100px 240px;
    margin: 4rem 0;
  }

  .foto-mobile > img {
    width: 95%;
    height: 95%;
  }

  .contraste-1 {
    right: 10px;
  }

  .contraste-2 {
    right: 0px;
  }

  .contraste-3 {
    top: 310px;
  }

  .contraste-4 {
    display: none;
  }

  .title-mobile > h1 {
    line-height: 1.5;
    margin-bottom: 1rem;
    font-size: 1.4rem;
  }

  .title-mobile > h1 > span {
    font-size: 1.6rem;
  }

  .title-mobile > button {
    color: #000;
    font-weight: 700;
  }
  /* Fim title */

  /* Inicio formas de contato */
  header > menu {
    display: none;
  }
  .formas-contato-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .formas-de-contato {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    line-height: 1.5;
  }

  .formas-de-contato > img {
    margin: 0 0.5rem;
  }

  .localizacao {
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    line-height: 1.5;
    transform: translateX(20px);
    opacity: 0;
    animation: animeLeft 0.5s forwards;
  }

  .telefone {
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    line-height: 1.5;
    transform: translateX(20px);
    opacity: 0;
    animation: animeLeft 0.5s forwards;
  }

  .email {
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    line-height: 1.5;
    transform: translateX(20px);
    opacity: 0;
    animation: animeLeft 0.5s forwards;
  }

  .btn-voltar-contato {
    position: absolute;
    left: 3rem;
    cursor: pointer;
  }

  .btn-passar-contato {
    position: absolute;
    right: 3rem;
    cursor: pointer;
  }
  /* Fim formas de contato */

  main {
    padding: 0 2rem;
  }

  /* Inicio introdução */
  .introducao {
    display: none;
  }

  .introducao-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .introducao-mobile > .intro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
    line-height: 1;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  .intro > h1 {
    font-size: 2rem;
  }

  .introducao-mobile > img {
    width: 336.79px;
    height: 358px;
  }

  .introducao-mobile > p {
    line-height: 1.5;
  }

  .introducao-mobile > button {
    margin: 2rem 0;
    color: #000;
    font-weight: 700;
  }
  /* Fim introdução */

  /* Inicio build */
  .build-hydra,
  .with-hydra {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .with-hydra {
    margin-bottom: -3rem;
  }

  .build-hydra div.texto-intro {
    display: none;
  }
  /* Fim build */

  /* Inicio cards */
  .passar-tablet-cards {
    display: none;
  }

  .cards-1-2 {
    display: none;
  }

  .cards-3-4 {
    display: none;
  }

  .cards-de-celular {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .passar-celular-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .back-passar {
    background: url(../imagens/Ellipse\ 6.png);
    width: 58px;
    height: 58px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .voltar {
    background: url(../imagens/Ellipse\ 5.png);
    background-size: cover;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
  }

  .passar-celular-cards > .back-passar:nth-child(1) {
    position: absolute;
    left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .passar-celular-cards > .back-passar:nth-child(2) {
    position: absolute;
    right: 1rem;
  }

  .card-1 {
    transform: translateX(40px);
    opacity: 0;
    animation: animeLeft 1s forwards;
  }

  .card-2,
  .card-3,
  .card-4 {
    display: none;
    transform: translateX(40px);
    opacity: 0;
    animation: animeLeft 0.5s forwards;
  }
  /* Fim cards */

  /* Inicio tecnologias */
  section.tecnologias {
    margin-top: 3rem;
  }

  .img-tecnologias {
    height: 303px;
    border-radius: 60px;
    background-size: cover;
  }

  .img-tecnologias > h1:nth-child(1) {
    margin-top: 2rem;
  }

  .btn-tec {
    display: none;
  }

  .img-btn-tec {
    display: none;
  }

  .marcas {
    display: none;
  }

  .marcas-celular {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15rem;
  }

  .marca-1 {
    transform: translateX(20px);
    opacity: 0;
    animation: animeLeft 0.5s forwards;
  }

  .marca-2,
  .marca-3,
  .marca-4 {
    display: none;
    transform: translateX(20px);
    opacity: 0;
    animation: animeLeft 0.5s forwards;
  }

  .contraste-14 {
    display: none;
  }
  /* Fim tecnologias */

  /* Inicio introdução */
  .numeros > .build-hydra {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5rem;
    font-size: 1.5rem;
    line-height: 2;
  }

  .build-hydra > div h1 {
    text-align: center;
    font-size: 1.5rem;
  }

  .numeros div.texto-intro {
    display: none;
  }

  .build-hydra img {
    display: none;
  }

  .intro-mobile {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5rem;
    font-size: 1.5rem;
  }
  /* Fim introdução */

  /* Inicio númeração */
  .numeracao {
    display: none;
  }

  .back-numero > h1 {
    font-size: 2rem;
  }

  .numeracao-de-celular {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15rem;
    text-align: center;
  }

.numeracao-de-celular > .passar-celular-cards {
  margin-top: 10rem;
}

  .num-1 {
    transform: translateX(20px);
    opacity: 0;
    animation: animeLeft 0.5s forwards;
  }

  .num-2,
  .num-3,
  .num-4 {
    display: none;
    transform: translateX(20px);
    opacity: 0;
    animation: animeLeft 0.5s forwards;
  }
  .cada-num {
    transform: translateX(20px);
    opacity: 0;
    animation: animeLeft 0.5s forwards;
  }
  /* Fim númeração */

  /* inicio formulário */
  section.formulario {
    border-radius: 60px;
  }

  .join-form {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .join-form h1 {
    padding: 1rem 0;
    font-size: 1.7rem;
  }

  .join-form .h1-fino {
    text-align: center;
  }

  form {
    padding: 0 2rem;
    text-align: center;
  }

  input {
    width: 100%;
  }

  .subject {
    width: 100%;
  }

  form > textarea {
    width: 100%;
  }

  .btn-form {
    width: 100%;
  }
  /* Fim formulário */

  /* Inicio Footer */
  footer .grid-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-weight: 700;
  }

  .icones-redes-sociais {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .icones-redes-sociais > img {
    display: block;
  }

  .contraste-17 {
    display: block;
  }

  .contraste-18,
  .contraste-19 {
    display: block;
    top: 4969px;
    right: 0;
  }

  footer .grid-footer ul,
  .detalhe-ul {
    display: none;
  }

  footer img {
    display: none;
  }

  .empresa-vector {
    display: block;
    width: 185px;
    height: 187px;
  }

  .consideracao-final {
    display: none;
  }

  .consideracao-final-celular {
    display: block;
    text-align: center;
    padding: 1rem 0;
    line-height: 2;
  }
}
