@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: var(--cortexto);
}

:root {
  --corPrincipal: #343045;
  --corTextoDestaque: #c0b7e8;
  --cortexto: #fff;
}

body {
  background-color: var(--corPrincipal);
}

header {
  padding: 2rem 3rem;
}

section.nav {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto 1fr;
}

header .logo {
  display: flex;
  align-items: center;
}

header .hydra {
  margin-left: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  color: var(--cortexto);
  margin: 0.8rem;
  font-weight: bold;
  font-size: 1rem;
}

.contato {
  display: flex;
  align-items: center;
}

.contato .contact-us {
  width: 154px;
  background-color: transparent;
  padding: 1rem;
  border: 2px solid #fff;
  border-radius: 30px;
  color: var(--cortexto);
  margin-left: 4rem;
  cursor: pointer;
}

.contato .contact-us:hover {
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  border: none;
}

.contato .join {
  width: 154px;
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  padding: 1rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-left: 2rem;
}

section.title {
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
}

section.title .sobre {
  max-width: 35%;
}

section.title h1 {
  padding: 1.5rem 0;
  font-size: 2rem;
  font-weight: 800;
  margin-top: 3rem;
}

span {
  background: linear-gradient(91.57deg, #c0b7e8 -1.02%, #8176af 36.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.build-your {
  padding-top: 5rem;
  display: flex;
  align-items: center;
}

.build-your > img {
  cursor: pointer;
}

.build {
  width: 214px;
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  padding: 1rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.img {
  position: absolute;
  margin-top: 10px;
  right: 60px;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 220px;
  border-bottom-right-radius: 80px;
}

menu {
  width: 100%;
  height: 167px;
  margin-top: 5rem;
  background: radial-gradient(
    50% 2900.76% at 50% 53.89%,
    rgba(58, 52, 86, 0.95) 0%,
    #211e2e 100%
  );
  box-shadow: 0px 4px 4px rgba(192, 183, 232, 0.01);
  border-radius: 90px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  z-index: 1000;
}

.formas-contato {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #c0b7e8;
  line-height: 1.5;
  padding: 0 2rem;
  color: var(--cortexto);
}

.formas-contato > img {
  margin: 0 1rem;
}

.formas-contato:nth-last-child(1) {
  border: none;
}

/* Contraste 1 */
.contraste-1 {
  position: absolute;
  width: 414px;
  height: 669px;
  right: 0px;
  top: 170px;
  z-index: -1;
}

/* Contraste 2 */
.contraste-2 {
  position: absolute;
  right: 60px;
  top: 0%;
  z-index: -1;
}

/* Contraste 3 */
.contraste-3 {
  position: absolute;
  right: 0px;
  top: 419.18px;
  z-index: -1;
}

/* Contraste 4 */
.contraste-4 {
  position: absolute;
  width: 238.07px;
  height: 561px;
  left: 2.5px;
  top: 274px;
  z-index: -1;
}

main {
  padding: 2rem 3rem;
}

main .intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  line-height: 1.8;
  margin-top: 3rem;
}

.intro h1 {
  font-size: 2rem;
}

.h1-fino {
  font-weight: 100;
}

.img-seta {
  display: flex;
  align-items: center;
  position: relative;
  top: -2rem;
}

.img-seta .img-cabo {
  margin-left: 3rem;
  margin-right: 0;
}

.img-arrow {
  margin-left: -1.9rem;
}

.introducao .about-hydra {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5rem;
}

.about-hydra > div > p {
  padding: 2rem 0;
}

/* Contraste 7 */
.contraste-7 {
  position: absolute;
  right: 0;
  top: 1268.32px;
  z-index: -1;
}

/* Contraste 8 */
.contraste-8 {
  position: absolute;
  right: 0;
  top: 1553.82px;
  z-index: -1;
}

section.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
}

.card {
  width: 300px;
  padding: 2.5rem 2rem;
  background: radial-gradient(50% 50% at 50% 50%, #433d60 0%, #211e2e 100%);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fundo-img-card {
  background-image: url(../imagens/Ellipse\ 4.png);
  width: 219px;
  height: 219px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fundo-img-card > img {
  border-radius: 50%;
}

.text-card {
  width: 100%;
  text-align: right;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.text-card > h2 {
  margin-right: 10px;
}

.card > .detalhe {
  display: block;
  margin-left: 80px;
  width: 10rem;
  height: 1px;
  border-bottom: 1px solid rgba(192, 183, 232, 0.33);
}

.text-detalhe {
  margin: 2rem 0;
}

.botao-card {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.btn-card {
  width: 154px;
  height: 48px;
  border: none;
  text-align: left;
  padding-left: 3px;
  color: var(--corPrincipal);
  font-weight: 600;
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  border-radius: 40px;
  cursor: pointer;
}

.btn-card:hover {
  color: #fff;
}

section.tecnologias {
  margin-top: 3rem;
}

.img-tecnologias {
  width: 100%;
  height: 303px;
  background: url(../imagens/pexels-rodnae-productions-8097332\ 1.png);
  box-shadow: 0px 4px 4px rgba(192, 183, 232, 0.01);
  border-radius: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 2;
}

.img-tecnologias > h1:nth-child(1) {
  margin-top: 5rem;
}

.btn-tec {
  position: relative;
  top: 60px;
  width: 100px;
  height: 100px;
  background: url(../imagens/Ellipse\ 6.png);
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-btn-tec {
  transform: translateX(35px);
  background: url(../imagens/Ellipse\ 5.png);
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.marcas {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Contraste 14 */
.contraste-14 {
  position: absolute;
  right: 0;
  top: 2187px;
  z-index: -1;
}

.numeracao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
}

.cada-num {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sombra-num {
  background: url(../imagens/Ellipse\ 7.png);
  width: 198px;
  height: 198px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-numero {
  background: url(../imagens/Ellipse\ 8.png);
  width: 159px;
  height: 159px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-numero > h1 {
  color: var(--corPrincipal);
  font-size: 2rem;
}

.descricao-num {
  display: flex;
  align-items: center;
}

.descricao-num > img {
  display: inline-block;
}

.descricao-num > h2 {
  display: inline-block;
}

/* Contraste 15 */
.contraste-15 {
  position: absolute;
  right: 0;
  z-index: -1;
}

section.formulario {
  width: 100%;
  background: radial-gradient(50% 50% at 50% 50%, #403a5f 0%, #211e2e 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  margin-top: 5rem;
}

.join-form {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.join-form h1 {
  padding: 1.5rem 0;
}

form {
  padding: 2rem 4rem;
  text-align: center;
}

input {
  width: 48%;
  display: inline-block;
  padding: 1rem;
  background: transparent;
  border-radius: 40px;
  border: 2px solid #ffffff;
  margin: 1rem 10px;
  outline: none;
}

.subject {
  width: 98%;
}

input:focus {
  outline: 1px solid #fff;
}

form > textarea {
  width: 98%;
  padding: 1.5rem 3rem;
  margin: 1rem 0;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 40px;
}

form > textarea:focus {
  outline: 1px solid #fff;
}

.btn-form {
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  padding: 1.3rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-left: 2rem;
  color: var(--corPrincipal);
  font-weight: 700;
  margin: 2rem 0;
}

footer {
  padding: 2rem 3rem;
}

.grid-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.detalhe-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
}

.detalhe-footer > ul {
  list-style: none;
  line-height: 2;
}

.redes-sociais {
  width: 100%;
  height: 100%;
  padding: 1rem 0;
}

.icones-redes-sociais {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0.5rem;
}

/* Contraste 18 */
.contraste-18 {
  position: absolute;
  right: 0;
  z-index: -1;
}

/* Contraste-19 */
.contraste-19 {
  position: absolute;
  right: 0;
  top: 4686px;
  z-index: -1;
}

.consideracao-final {
  text-align: center;
  padding-top: 2rem;
}

.consideracao-final > p {
  font-size: 0.8rem;
}
